{% extends 'base.html.twig' %}

{% block title %}Changer de Mot de Passe{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-4">Changer de Mot de Passe</h1>
        
        {# Affichage des messages flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="card shadow">
            <div class="card-body">
                
                {{ form_start(passwordForm) }}
                    
                    {{ form_row(passwordForm.oldPassword) }}
                    {{ form_row(passwordForm.newPassword.first) }}
                    {{ form_row(passwordForm.newPassword.second) }}

                    <button type="submit" class="btn btn-primary mt-3">
                        Mettre à jour le Mot de Passe
                    </button>
                    
                {{ form_end(passwordForm) }}
            </div>
        </div>

        <a href="{{ path('app_account') }}" class="btn btn-link mt-3">Retour à mon compte</a>
    </div>
{% endblock %}